@model eUseControl.Web.Models.UserData

<header class="page-header">
    <h2>Кампусы UTM</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

            <li><span>Календарь</span></li>

        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>