@{
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
    ViewBag.Title = "Document";
}

@using System.Web.Optimization
@model eUseControl.Web.Models.DataRequest

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Необходимые иметь при заселении</h2>

        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>

                <li><span>Pages</span></li>

                <li><span>Document</span></li>

            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="post-content-body">
        <p>1. Копия булетина 2 шт.</p>
        <p>2. Фотография 3х4 2 шт.</p>
        <p>3. Согласие на заключение договора найма жилого помещения (для несовершеннолетних).</p>
        <p>4. Заявление на предоставление места в общежитии.</p>
        <p>5. справка о состоянии здоровья, выданная лицензированными медицинскими учреждениями, подведомственными Минздраву России, об отсутствии противопоказаний для проживания в общежитии с обязательной отметкой о прохождении флюорографии, об отсутствии инфекционных заболеваний (туберкулез, ВИЧ, гепатит В) и сертификат прививок.</p>
        <p></p>
        <p></p>
    </div>
        <!-- end: page -->
    </section>