@{
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
    ViewBag.Title = "Document";
}

@using System.Web.Optimization
@model eUseControl.Web.Models.UserData

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Необходимые иметь при заселении</h2>

        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>

                <li><span>Pages</span></li>

                <li><span>Document</span></li>

            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="col-md-12">

            <h4 class="mb-3 font-weight-semibold text-dark">Перечни необходимых докуметов</h4>

            <div class="scrollable" data-plugin-scrollable style="height: 500px;">
                <div class="scrollable-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec egestas felis, ut posuere est. Etiam eleifend, lacus in pretium placerat, augue nulla pretium ex, non accumsan est sapien et arcu. In facilisis euismod justo, id ultricies purus efficitur eu. Nullam a commodo turpis. Nam vitae neque tellus. Sed luctus, ante tincidunt placerat vestibulum, mi dui placerat sapien, consectetur posuere nisl sem non odio. Proin eget metus lobortis, tristique diam bibendum, aliquet nisi. Aliquam sed finibus quam, sed lobortis justo. In cursus magna id scelerisque accumsan. Cras eleifend accumsan ligula, in elementum libero bibendum ut. Maecenas tempor faucibus vulputate.</p>

                    <p>Quisque purus nunc, tempus et dolor at, sagittis commodo elit. Cras venenatis odio eros, id venenatis nulla rhoncus non. Ut id risus iaculis, laoreet tortor ac, venenatis purus. Sed gravida auctor ex, tincidunt accumsan nisi tristique eget. In bibendum maximus nisl a varius. Proin imperdiet nunc vel augue vehicula finibus. Sed blandit congue aliquet. In dignissim odio vel nisl mollis molestie. Vestibulum malesuada nec turpis quis egestas. Vestibulum quam nisi, volutpat non enim eu, fermentum dignissim nisi. Donec eu maximus augue, sit amet vestibulum libero. Pellentesque imperdiet nisl a imperdiet iaculis. Donec quis lectus orci. Duis vitae cursus tellus, id volutpat lacus. Nulla mollis quam non diam interdum, non varius ex accumsan. Donec tempor mauris ante, in consequat massa sollicitudin eget.</p>

                    <p>Aenean facilisis risus et scelerisque eleifend. Nam vel malesuada lectus, et efficitur eros. Nullam ultrices enim sit amet tellus placerat pharetra. Aliquam a nulla sit amet magna hendrerit tristique. Curabitur sodales eros id massa gravida viverra. Etiam sed justo vehicula, consequat nunc a, viverra ante. Donec at mollis felis, quis pharetra arcu. Nulla sed libero a nibh tincidunt maximus. Aliquam placerat diam nibh, eget maximus urna sollicitudin ut.</p>

                    <p>Mauris cursus sapien at felis commodo, et efficitur mi eleifend. Vivamus efficitur vel lacus id accumsan. Quisque nec nisl tincidunt, consequat nisi ac, semper dolor. Vestibulum hendrerit, nibh vitae hendrerit ultricies, odio lectus tempus lectus, eu varius dui mauris quis felis. Curabitur id porttitor felis. Sed rhoncus purus a magna sollicitudin pharetra. Curabitur euismod, massa sit amet elementum sodales, risus est finibus quam, et semper dolor ipsum quis quam. Sed non sapien sed sem iaculis ornare. Integer ultrices tortor a eleifend feugiat. Nam id purus rhoncus, fringilla orci quis, cursus turpis. Suspendisse ultricies nisi vitae eros feugiat efficitur.</p>

                    <div class="scrollable scrollable-padding" data-plugin-scrollable style="height: 200px;">
                        <div class="scrollable-content bg-white">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec egestas felis, ut posuere est. Etiam eleifend, lacus in pretium placerat, augue nulla pretium ex, non accumsan est sapien et arcu. In facilisis euismod justo, id ultricies purus efficitur eu. Nullam a commodo turpis. Nam vitae neque tellus. Sed luctus, ante tincidunt placerat vestibulum, mi dui placerat sapien, consectetur posuere nisl sem non odio. Proin eget metus lobortis, tristique diam bibendum, aliquet nisi. Aliquam sed finibus quam, sed lobortis justo. In cursus magna id scelerisque accumsan. Cras eleifend accumsan ligula, in elementum libero bibendum ut. Maecenas tempor faucibus vulputate.</p>

                            <p>Quisque purus nunc, tempus et dolor at, sagittis commodo elit. Cras venenatis odio eros, id venenatis nulla rhoncus non. Ut id risus iaculis, laoreet tortor ac, venenatis purus. Sed gravida auctor ex, tincidunt accumsan nisi tristique eget. In bibendum maximus nisl a varius. Proin imperdiet nunc vel augue vehicula finibus. Sed blandit congue aliquet. In dignissim odio vel nisl mollis molestie. Vestibulum malesuada nec turpis quis egestas. Vestibulum quam nisi, volutpat non enim eu, fermentum dignissim nisi. Donec eu maximus augue, sit amet vestibulum libero. Pellentesque imperdiet nisl a imperdiet iaculis. Donec quis lectus orci. Duis vitae cursus tellus, id volutpat lacus. Nulla mollis quam non diam interdum, non varius ex accumsan. Donec tempor mauris ante, in consequat massa sollicitudin eget.</p>

                            <p>Aenean facilisis risus et scelerisque eleifend. Nam vel malesuada lectus, et efficitur eros. Nullam ultrices enim sit amet tellus placerat pharetra. Aliquam a nulla sit amet magna hendrerit tristique. Curabitur sodales eros id massa gravida viverra. Etiam sed justo vehicula, consequat nunc a, viverra ante. Donec at mollis felis, quis pharetra arcu. Nulla sed libero a nibh tincidunt maximus. Aliquam placerat diam nibh, eget maximus urna sollicitudin ut.</p>

                            <p>Mauris cursus sapien at felis commodo, et efficitur mi eleifend. Vivamus efficitur vel lacus id accumsan. Quisque nec nisl tincidunt, consequat nisi ac, semper dolor. Vestibulum hendrerit, nibh vitae hendrerit ultricies, odio lectus tempus lectus, eu varius dui mauris quis felis. Curabitur id porttitor felis. Sed rhoncus purus a magna sollicitudin pharetra. Curabitur euismod, massa sit amet elementum sodales, risus est finibus quam, et semper dolor ipsum quis quam. Sed non sapien sed sem iaculis ornare. Integer ultrices tortor a eleifend feugiat. Nam id purus rhoncus, fringilla orci quis, cursus turpis. Suspendisse ultricies nisi vitae eros feugiat efficitur.</p>

                        </div>
                    </div>

                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus hendrerit sit amet massa ut molestie. Pellentesque sollicitudin at erat eu dignissim. Pellentesque ultrices, quam sed euismod varius, tellus orci accumsan justo, eget blandit velit mi non sapien. Nunc at ornare ipsum. Nunc porttitor enim massa, non venenatis tellus viverra quis. Aliquam vel euismod lacus. Etiam mauris enim, consectetur quis odio ut, semper lobortis ipsum. Duis eget augue eu tortor hendrerit eleifend et sit amet neque. Vestibulum tempor pellentesque arcu, ut gravida dui. Sed consectetur et ligula quis semper. Morbi lobortis, lectus at lacinia pellentesque, ante felis viverra orci, sodales suscipit magna lacus condimentum dolor. Pellentesque finibus erat et magna tristique, varius tempor mi interdum. </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec egestas felis, ut posuere est. Etiam eleifend, lacus in pretium placerat, augue nulla pretium ex, non accumsan est sapien et arcu. In facilisis euismod justo, id ultricies purus efficitur eu. Nullam a commodo turpis. Nam vitae neque tellus. Sed luctus, ante tincidunt placerat vestibulum, mi dui placerat sapien, consectetur posuere nisl sem non odio. Proin eget metus lobortis, tristique diam bibendum, aliquet nisi. Aliquam sed finibus quam, sed lobortis justo. In cursus magna id scelerisque accumsan. Cras eleifend accumsan ligula, in elementum libero bibendum ut. Maecenas tempor faucibus vulputate.</p>

                    <p>Quisque purus nunc, tempus et dolor at, sagittis commodo elit. Cras venenatis odio eros, id venenatis nulla rhoncus non. Ut id risus iaculis, laoreet tortor ac, venenatis purus. Sed gravida auctor ex, tincidunt accumsan nisi tristique eget. In bibendum maximus nisl a varius. Proin imperdiet nunc vel augue vehicula finibus. Sed blandit congue aliquet. In dignissim odio vel nisl mollis molestie. Vestibulum malesuada nec turpis quis egestas. Vestibulum quam nisi, volutpat non enim eu, fermentum dignissim nisi. Donec eu maximus augue, sit amet vestibulum libero. Pellentesque imperdiet nisl a imperdiet iaculis. Donec quis lectus orci. Duis vitae cursus tellus, id volutpat lacus. Nulla mollis quam non diam interdum, non varius ex accumsan. Donec tempor mauris ante, in consequat massa sollicitudin eget.</p>

                    <p>Aenean facilisis risus et scelerisque eleifend. Nam vel malesuada lectus, et efficitur eros. Nullam ultrices enim sit amet tellus placerat pharetra. Aliquam a nulla sit amet magna hendrerit tristique. Curabitur sodales eros id massa gravida viverra. Etiam sed justo vehicula, consequat nunc a, viverra ante. Donec at mollis felis, quis pharetra arcu. Nulla sed libero a nibh tincidunt maximus. Aliquam placerat diam nibh, eget maximus urna sollicitudin ut.</p>

                    <p>Mauris cursus sapien at felis commodo, et efficitur mi eleifend. Vivamus efficitur vel lacus id accumsan. Quisque nec nisl tincidunt, consequat nisi ac, semper dolor. Vestibulum hendrerit, nibh vitae hendrerit ultricies, odio lectus tempus lectus, eu varius dui mauris quis felis. Curabitur id porttitor felis. Sed rhoncus purus a magna sollicitudin pharetra. Curabitur euismod, massa sit amet elementum sodales, risus est finibus quam, et semper dolor ipsum quis quam. Sed non sapien sed sem iaculis ornare. Integer ultrices tortor a eleifend feugiat. Nam id purus rhoncus, fringilla orci quis, cursus turpis. Suspendisse ultricies nisi vitae eros feugiat efficitur.</p>

                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus hendrerit sit amet massa ut molestie. Pellentesque sollicitudin at erat eu dignissim. Pellentesque ultrices, quam sed euismod varius, tellus orci accumsan justo, eget blandit velit mi non sapien. Nunc at ornare ipsum. Nunc porttitor enim massa, non venenatis tellus viverra quis. Aliquam vel euismod lacus. Etiam mauris enim, consectetur quis odio ut, semper lobortis ipsum. Duis eget augue eu tortor hendrerit eleifend et sit amet neque. Vestibulum tempor pellentesque arcu, ut gravida dui. Sed consectetur et ligula quis semper. Morbi lobortis, lectus at lacinia pellentesque, ante felis viverra orci, sodales suscipit magna lacus condimentum dolor. Pellentesque finibus erat et magna tristique, varius tempor mi interdum. </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec egestas felis, ut posuere est. Etiam eleifend, lacus in pretium placerat, augue nulla pretium ex, non accumsan est sapien et arcu. In facilisis euismod justo, id ultricies purus efficitur eu. Nullam a commodo turpis. Nam vitae neque tellus. Sed luctus, ante tincidunt placerat vestibulum, mi dui placerat sapien, consectetur posuere nisl sem non odio. Proin eget metus lobortis, tristique diam bibendum, aliquet nisi. Aliquam sed finibus quam, sed lobortis justo. In cursus magna id scelerisque accumsan. Cras eleifend accumsan ligula, in elementum libero bibendum ut. Maecenas tempor faucibus vulputate.</p>

                    <p>Quisque purus nunc, tempus et dolor at, sagittis commodo elit. Cras venenatis odio eros, id venenatis nulla rhoncus non. Ut id risus iaculis, laoreet tortor ac, venenatis purus. Sed gravida auctor ex, tincidunt accumsan nisi tristique eget. In bibendum maximus nisl a varius. Proin imperdiet nunc vel augue vehicula finibus. Sed blandit congue aliquet. In dignissim odio vel nisl mollis molestie. Vestibulum malesuada nec turpis quis egestas. Vestibulum quam nisi, volutpat non enim eu, fermentum dignissim nisi. Donec eu maximus augue, sit amet vestibulum libero. Pellentesque imperdiet nisl a imperdiet iaculis. Donec quis lectus orci. Duis vitae cursus tellus, id volutpat lacus. Nulla mollis quam non diam interdum, non varius ex accumsan. Donec tempor mauris ante, in consequat massa sollicitudin eget.</p>

                    <p>Aenean facilisis risus et scelerisque eleifend. Nam vel malesuada lectus, et efficitur eros. Nullam ultrices enim sit amet tellus placerat pharetra. Aliquam a nulla sit amet magna hendrerit tristique. Curabitur sodales eros id massa gravida viverra. Etiam sed justo vehicula, consequat nunc a, viverra ante. Donec at mollis felis, quis pharetra arcu. Nulla sed libero a nibh tincidunt maximus. Aliquam placerat diam nibh, eget maximus urna sollicitudin ut.</p>

                    <p>Mauris cursus sapien at felis commodo, et efficitur mi eleifend. Vivamus efficitur vel lacus id accumsan. Quisque nec nisl tincidunt, consequat nisi ac, semper dolor. Vestibulum hendrerit, nibh vitae hendrerit ultricies, odio lectus tempus lectus, eu varius dui mauris quis felis. Curabitur id porttitor felis. Sed rhoncus purus a magna sollicitudin pharetra. Curabitur euismod, massa sit amet elementum sodales, risus est finibus quam, et semper dolor ipsum quis quam. Sed non sapien sed sem iaculis ornare. Integer ultrices tortor a eleifend feugiat. Nam id purus rhoncus, fringilla orci quis, cursus turpis. Suspendisse ultricies nisi vitae eros feugiat efficitur.</p>

                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus hendrerit sit amet massa ut molestie. Pellentesque sollicitudin at erat eu dignissim. Pellentesque ultrices, quam sed euismod varius, tellus orci accumsan justo, eget blandit velit mi non sapien. Nunc at ornare ipsum. Nunc porttitor enim massa, non venenatis tellus viverra quis. Aliquam vel euismod lacus. Etiam mauris enim, consectetur quis odio ut, semper lobortis ipsum. Duis eget augue eu tortor hendrerit eleifend et sit amet neque. Vestibulum tempor pellentesque arcu, ut gravida dui. Sed consectetur et ligula quis semper. Morbi lobortis, lectus at lacinia pellentesque, ante felis viverra orci, sodales suscipit magna lacus condimentum dolor. Pellentesque finibus erat et magna tristique, varius tempor mi interdum. </p>
                </div>
            </div>
        </div>
        </div>
        <!-- end: page -->
    </section>