﻿@{

    ViewBag.Title = "Общежите №1";
}

@using System.Web.Optimization


<section role="main" class="content-body">
    <header class="page-header">
        <h2>Общежитие #1</h2>

        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>

                <li><span>Pages</span></li>

                <li><span>Campus #1</span></li>

            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>

    <section class="site-section py-lg">
        <div class="container">
            <div class="row blog-entries element-animate">
                <div class="col-md-10 col-lg-8 main-content">
                    <img src="img/img_5.jpg" alt="Image" class="img-fluid mb-4">
                    <div class="post-content-body">
                        <p>Текст про Общежитие №1..........</p>
                    </div>
                    <p>Ещё текст про общежитие.....</p>
                </div>
            </div>
        </div>
    </section>
</section>
