﻿@{
    ViewBag.Title = "MyProfile";
}

@using System.Web.Optimization
 ﻿@using eUseControl.Web.Extensions


<section role="main" class="content-body">
    <header class="page-header">
        <h2>Мой профиль</h2>

        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>

                <li><span>Страницы</span></li>

                <li><span>Профиль Пользователя</span></li>

            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">

            <section class="card">
                <div class="card-body">
                    <div class="thumb-info mb-3">
                        <img src="img/user.jpg" class="rounded img-fluid" alt="John Doe">
                        <div class="thumb-info-title">
                            <span class="thumb-info-inner">
                                @if (Session.IsUserLoggedIn())
                                {
                                    <div class="avatar">
                                        
                                        
                                    </div>
                                    <span class="user_info">
                                        <span class="name">@ViewBag.SessionUser.Name</span>
                                        <span class="role">
                                            @ViewBag.SessionUser.Role

                                        </span>

                                    </span>
                                }
                            </span>
                            <span class="thumb-info-type">SI-212</span>
                        </div>
                    </div>
                </div>
                <div class="widget-toggle-expand mb-3">
                    <div id="accordion" class="w-100">
                        <div class="card card-accordion card-accordion-first">
                            <div id="collapse1One" class="accordion-body collapse show">
                                <div class="card-body">
                                    <ul class="widget-todo-list">
                                        <li>
                                            <label class="todo-label" for="todoListItem1"><span>Возраст : 20</span></label>
                                        </li>
                                        <li>
                                            <label class="todo-label" for="todoListItem1"><span>Пол : М</span></label>
                                        </li>
                                        <li>
                                            <label class="todo-label" for="todoListItem3"><span>Факультет : FCIM</span></label>
                                        </li>
                                        <li>
                                            <label class="todo-label" for="todoListItem4"><span>Направление : SI</span></label>
                                        </li>
                                        <li>
                                            <label class="todo-label" for="todoListItem5"><span>Курс : 2</span></label>
                                        </li>
                                        <li>
                                            <label class="todo-label" for="todoListItem6"><span>Корпоративная почта : evghenii.bondarciuc@isa.utm.md</span></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-8 col-xl-6">

            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="nav-item active">
                        <button class="nav-link" data-bs-target="#overview" data-bs-toggle="tab">Лента</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-target="#edit" data-bs-toggle="tab">Информация</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="overview" class="tab-pane active">

                        <div class="p-3">

                            <h4 class="mb-3 font-weight-semibold text-dark">Что у вас нового?</h4>

                            <section class="simple-compose-box mb-3">
                                <form method="get" action="/">
                                    <textarea name="message-text" data-plugin-textarea-autosize placeholder="Напишите об этом..." rows="1"></textarea>
                                </form>
                                <div class="compose-box-footer">
                                    <ul class="compose-toolbar">
                                        <li>
                                            <a href="#"><i class="fas fa-camera"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                                        </li>
                                    </ul>
                                    <ul class="compose-btn">
                                        <li>
                                            <a href="#" class="btn btn-primary btn-xs">Опубликовать</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>

                            <h4 class="mb-3 pt-4 font-weight-semibold text-dark">Лента публикаций</h4>

                            <div class="timeline timeline-simple mt-3 mb-3">
                                <div class="tm-body">
                                    <div class="tm-title">
                                        <h5 class="m-0 pt-2 pb-2 text-dark font-weight-semibold text-uppercase">Январь 2023</h5>
                                    </div>
                                    <ol class="tm-items">
                                        <li>
                                            <div class="tm-box">
                                                <p class="text-muted mb-0">3 месяца назад</p>
                                                <p>
                                                    Checkout! How cool is that!
                                                </p>
                                                <div class="thumbnail-gallery">
                                                    <a class="img-thumbnail lightbox" href="img/projects/project-19.jpg" data-plugin-options='{ "type":"image" }'>
                                                        <img class="img-fluid" width="215" src="img/projects/project-19.jpg">
                                                        <span class="zoom">
                                                            <i class="bx bx-search"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="edit" class="tab-pane">

                        <form class="p-3">
                            <h4 class="mb-3 font-weight-semibold text-dark">Личные данные</h4>
                            <div class="row row mb-4">
                                <div class="form-group col">
                                    <label for="inputAddress">ФИО</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="form-group col">
                                    <label for="inputAddress2">Корпоративная почта</label>
                                    <input type="text" class="form-control" id="inputAddress2" placeholder="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">Год обучения</label>
                                    <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4 border-top-0 pt-0">
                                    <label for="inputState">Факультет</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>Выбрать</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2 border-top-0 pt-0">
                                    <label for="inputZip">Направление</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-end mt-3">
                                    <button class="btn btn-primary modal-confirm">Изменить</button>
                                </div>
                            </div>
                            <hr class="dotted tall">

                            <h4 class="mb-3 font-weight-semibold text-dark">Изменить пароль</h4>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Новый пароль</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="...">
                                </div>
                                <div class="form-group col-md-6 border-top-0 pt-0">
                                    <label for="inputPassword5">Повторный ввод</label>
                                    <input type="password" class="form-control" id="inputPassword5" placeholder="...">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-end mt-3">
                                    <button class="btn btn-primary modal-confirm">Изменить</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">

            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">
                        <span class="badge badge-primary label-sm font-weight-normal va-middle me-3">298</span>
                        <span class="va-middle">Друзья</span>
                    </h2>
                </header>
                <div class="card-body">
                    <div class="content">
                        <ul class="simple-user-list">
                            <li>
                                <figure class="image rounded">
                                    <img src="img/!sample-user.jpg" alt="Joseph Doe Junior" class="rounded-circle">
                                </figure>
                                <span class="title">Joseph Doe Junior</span>
                                <span class="message truncate">Lorem ipsum dolor sit.</span>
                            </li>
                            <li>
                                <figure class="image rounded">
                                    <img src="img/!sample-user.jpg" alt="Joseph Junior" class="rounded-circle">
                                </figure>
                                <span class="title">Joseph Junior</span>
                                <span class="message truncate">Lorem ipsum dolor sit.</span>
                            </li>
                            <li>
                                <figure class="image rounded">
                                    <img src="img/!sample-user.jpg" alt="Joe Junior" class="rounded-circle">
                                </figure>
                                <span class="title">Joe Junior</span>
                                <span class="message truncate">Lorem ipsum dolor sit.</span>
                            </li>
                            <li>
                                <figure class="image rounded">
                                    <img src="img/!sample-user.jpg" alt="Joseph Doe Junior" class="rounded-circle">
                                </figure>
                                <span class="title">Joseph Doe Junior</span>
                                <span class="message truncate">Lorem ipsum dolor sit.</span>
                            </li>
                        </ul>
                        <hr class="dotted short">
                        <div class="text-end">
                            <a class="text-uppercase text-muted" href="#">Открыть</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" name="s" id="s" placeholder="Поиск">
                        <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- end: page -->
</section>
