﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

@using System.Web.Optimization

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Кампусы UTM</h2>
        <h2>Новости</h2>

        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="#">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>

                <li><span>Календарь</span></li>

            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row"    style="padding-top:30px">
        <div class="col-lg-6 mb-3">
            <section class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="chart-data-selector" id="salesSelectorWrapper">
                                <h2>
                                    Топ-3 университетов Молдовы:
                                    <strong>
                                        <select class="form-control" id="salesSelector">
                                            <option value="Porto Admin" selected>UTM</option>
                                            <option value="Porto Drupal">USMF</option>
                                            <option value="Porto Wordpress">USM</option>
                                        </select>
                                    </strong>
                                </h2>

                                <div id="salesSelectorItems" class="chart-data-selector-items mt-3">
                                    <!-- Flot: Sales Porto Admin -->
                                    <div class="chart chart-sm" data-sales-rel="Porto Admin" id="flotDashSales1" class="chart-active" style="height: 203px;"></div>
                                    <script>

                                        var flotDashSales1Data = [{
                                            data: [
                                                ["esp", 2],
                                                ["ug", 2],
                                                ["diez", 2],
                                                ["nokta", 1],
                                                ["newsmaker", 1]
                                            ],
                                            color: "#0088cc"
                                        }];

                                        // See: js/examples/examples.dashboard.js for more settings.

                                    </script>

                                    <!-- Flot: Sales Porto Drupal -->
                                    <div class="chart chart-sm" data-sales-rel="Porto Drupal" id="flotDashSales2" class="chart-hidden"></div>
                                    <script>

                                        var flotDashSales2Data = [{
                                            data: [
                                                ["esp", 1],
                                                ["ug", 1],
                                                ["diez", 3],
                                                ["nokta", 2],
                                                ["newsmaker", 3]
                                            ],
                                            color: "#2baab1"
                                        }];

                                        // See: js/examples/examples.dashboard.js for more settings.

                                    </script>

                                    <!-- Flot: Sales Porto Wordpress -->
                                    <div class="chart chart-sm" data-sales-rel="Porto Wordpress" id="flotDashSales3" class="chart-hidden"></div>
                                    <script>

                                        var flotDashSales3Data = [{
                                            data: [
                                                ["esp", 3],
                                                ["ug", 3],
                                                ["diez", 1],
                                                ["nokta", 3],
                                                ["newsmaker", 2]
                                            ],
                                            color: "#734ba9"
                                        }];

                                        // See: js/examples/examples.dashboard.js for more settings.

                                    </script>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <div class="row mb-3">
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-primary mb-3">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fas fa-life-ring"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <a><h4 class="title">По вопросам звонить</h4></a>
                                        <div class="info">
                                            <a><strong class="amount"> 068696879</strong></a>
                                        </div>
                                        <div class="summary-footer">
                                            <a class="text-muted text-uppercase" href="#">(время работы 9:00-17:00)</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </section>
                </div>
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-secondary">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-secondary">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Стоимость проживания</h4>
                                        <div class="info">
                                            <strong class="amount">5000-8000</strong>
                                            <strong class="amount">л/г</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase" href="#">(2022-2023гг.)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-tertiary mb-3">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-tertiary">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Оплата при поддержке</h4>
                                        <div class="info">
                                            <strong class="amount">MAIB</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase" href="#">(MAIB)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-quaternary">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-quaternary">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Количество мест</h4>
                                        <div class="info">
                                            <strong class="amount">4500</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase" href="#">(инфо)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row pt-4 mt-1">
        <div class="col-xl-6">
            <section class="card card-transparent mb-3">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Расположение наших общежитий</h2>
                </header>
                <div class="card-body">
                    <div id="vectorMapWorld" style="height: 350px; width: 100%;"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3705.8812541563657!2d28.86520159243944!3d47.06171052787573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1679751306019!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                </div>
            </section>
        </div>
        <div class="col-xl-6">
            <section class="card">
                <header class="card-header card-header-transparent">

                    <h2 class="card-title">Краткие сведения о наших общежитиях</h2>
                </header>
                <div class="card-body">
                    <table class="table table-responsive-md table-striped mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Название</th>
                                <th>Состояние</th>
                                <th>Адресс</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Общежитие 10</td>
                                <td><span class="badge badge-success">Отличное</span></td>
                                <td>Strada Studenților 5</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Общежитие 12</td>
                                <td><span class="badge badge-success">Отличное</span></td>
                                <td>Strada Studenților 6</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Общежитие 2</td>
                                <td><span class="badge badge-warning">Нормальное</span></td>
                                <td>Strada Studenților 7/1</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Общежитие 1</td>
                                <td><span class="badge badge-warning">Нормальное</span></td>
                                <td>Strada Studenților 1</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Общежитие 9</td>
                                <td><span class="badge badge-danger">Опасно для жизни</span></td>
                                <td>Strada Florilor 4b</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- end: page -->
</section>